<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SET USER</title>
</head>

<style>
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
  }

  input[type="submit"] {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  input[type="submit"]:hover {
    background-color: #27ae60;
  }
</style>
<body>

<form th:method="PATCH" th:action="@{/admin/show-all-users/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="username">Введите ФИО: </label>
  <input type="text" th:field="*{username}" id="username"/>
  <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Full Name Error</div>
  <br/>
  <label for="email">Введите email : </label>
  <input type="text" th:field="*{email}" id="email"/>
  <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
  <br/>
  <label for="password">Введите email : </label>
  <input type="text" th:field="*{password}" id="password"/>
  <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>
  <br/>
  <label for="role">Введите role : </label>
  <input type="text" th:field="*{role}" id="role"/>
  <div style="color:red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">role Error</div>
  <br/>
  <input type="submit" value="Редактировать!"/>
</form>

</body>
</html>